{% if not navigation %}
	{%set navigation=[('portfolio','Portfolio'),('ideas','Ideas'),('about','About')]%}
{% endif %}

<nav class="navbar navbar-inverse" role="navigation">
	<div class="container">
		<!-- Header and Support for Mobile -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Clark Varin</a>
		</div>

		<!-- Navbar Links -->
		<div class="collapse navbar-collapse" id="navbar-collapse-1">
			<ul class="nav navbar-nav">
			<!-- TODO insert class = "active" -->
			{% for link,title in navigation %}
				<li><a href="{{link}}">{{title}}</a></li>
			{% endfor %}
			</ul>
		</div>
	</div>
</nav>